################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MakeItSolid.Console/MakeItSolid.Console/bin/Debug
/MakeItSolid.Console/.vs/MakeItSolid.Console/v14
/MakeItSolid.Console/MakeItSolid.Console/obj/Debug
/MakeItSolid.Console/MakeItSolid.Console/Properties
