################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MakeItSolid.Console/MakeItSolid.Console/bin/Debug
